body {
  text-align: center;
  background-color: #011f3f;
  -webkit-user-select: none;
  user-select: none;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

.container {
  position: relative;
  display: block;
  width: 50%;
  margin: auto;
  clip-path: circle();
}

.btn {
  display: inline-block;
  height: 250px;
  width: 250px;
}

#start-btn {
  position: absolute;
  top: 36%;
  left: 38%;
  right: auto;
  padding: 3rem 2rem;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  border-radius: 50%;
  border: 5px solid black;
  cursor: pointer;
}

#start-btn:active {
  scale: 0.9;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media screen and (max-width: 1030px) {
  .btn {
    height: 200px;
    width: 200px;
  }

  #start-btn {
    left: 38%;
    padding: 2rem 1rem;
  }
}
